.main__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: rgb(190, 190, 190);
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#root {
  background-color: rgb(218, 218, 218);
}
.app {
  width: 100%;
}
.app__wrapper {
  padding: 35px 0px;
}

.nav {
  width: 100%;
  background-color: rgb(218, 218, 218);
}

a {
  text-decoration: none;
  color: black;
}

.nav__logo {
  opacity: 0.9;
}

.btn {
  padding: 30px;
  cursor: pointer;
  outline-style: none;
  border: none;
  font-size: 16px;
  background-color: rgb(197, 197, 197);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.btn:hover {
  background-color: rgb(231, 231, 231);
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-right: 50px;
  margin-left: 50px;
}

.link:hover {
  font-size: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__wrapper {
  width: 50%;
  margin-right: 20px;
  padding: 10px;
}

.posts {
  width: 50%;
  padding: 10px;
}

.post__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.post__wrapper img {
  display: block;
}

.post__wrapper:last-child {
  margin-bottom: 0px;
}
.posts__control {
  display: flex;
}

.posts__content {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 50px;
}

.like__wrapper {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.like {
  cursor: pointer;
  margin-right: 10px;
}

.post__text {
  display: block;
}
